.homepage .vector-1 {
    width: 42px;
    height: 33.3px;
  }
  .homepage .menu-sidebar-button {
    margin: 1.9px 0 6.9px 0;
    display: flex;
    width: 42px;
    height: 33.3px;
    box-sizing: border-box;
  }
  .homepage .vector {
    width: 24.4px;
    height: 21.8px;
  }
  .homepage .material-symbolssearch {
    border-radius: 10px;
    display: flex;
    width: 24.4px;
    height: 21.8px;
    box-sizing: border-box;
  }
  .homepage .rectangle-13 {
    border-radius: 10px;
    margin: 0 100px 33px 101px;
    width: 1079px;
    height: 276px;
  }
  .homepage .rekomendasi-hari-ini {
    margin-right: 12px;
    width: 941px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
  }
  .homepage .lihat-semua {
    margin-top: 3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: #0029FF;
  }
  .homepage .container-2 {
    margin: 0 14.2px 12px 0.3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1040.5px;
    box-sizing: border-box;
  }
  .homepage .image-17 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: url('../assets/images/image_17.png') 50% / cover no-repeat;
    margin: 0 0 13.3px 17px;
    align-self: center;
    width: 84.2px;
    height: 121.7px;
  }
  .homepage .dune {
    margin-bottom: 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 13px;
    color: #000000;
  }
  .homepage .frank-herbert {
    margin: 0 0.1px 1px 0.1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .container {
    margin: 0 0px 1.8px 0px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .vector-2 {
    width: 16.3px;
    height: 15.6px;
  }
  .homepage .mingcutestar-fill {
    margin: 0 4.5px 1.6px 0;
    display: flex;
    width: 16.3px;
    height: 15.6px;
    box-sizing: border-box;
  }
  .homepage .container-1 {
    margin-top: 0.2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .rating {
    margin: 0 1.3px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .homepage .book-container {
    border-radius: 10px;
    border: 2.5px solid #B48E5E;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px 18px;
    width: 155px;
    box-sizing: border-box;
  }
  .homepage .image-20 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: url('../assets/images/image_20.png') 50% / cover no-repeat;
    margin: 0 0 13.3px 16.9px;
    align-self: center;
    width: 84.2px;
    height: 121.7px;
  }
  .homepage .dilan {
    margin-bottom: 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 13px;
    color: #000000;
  }
  .homepage .pidi-baiq {
    margin: 0 0.1px 1px 0.1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .container-2 {
    margin: 0 0.2px 1.8px 0.2px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .vector-3 {
    width: 16.3px;
    height: 15.6px;
  }
  .homepage .mingcutestar-fill-1 {
    margin: 0 4.5px 1.6px 0;
    display: flex;
    width: 16.3px;
    height: 15.6px;
    box-sizing: border-box;
  }
  .homepage .container-3 {
    margin-top: 0.2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .rating-1 {
    margin: 0 1.2px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .homepage .book-container-1 {
    border-radius: 10px;
    border: 2.5px solid #B48E5E;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px 18.1px;
    width: 155px;
    box-sizing: border-box;
  }
  .homepage .image-45 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: url('../assets/images/image_45.png') 50% / cover no-repeat;
    margin: 0 0 13.3px 2.1px;
    align-self: center;
    width: 79.1px;
    height: 121.7px;
  }
  .homepage .sahabat-kok-ro {
    margin-bottom: 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 13px;
    color: #000000;
  }
  .homepage .fiky {
    margin: 0 0.4px 1px 0.4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .container-4 {
    margin: 0 0.4px 1.8px 0.4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .vector-4 {
    width: 16.3px;
    height: 15.6px;
  }
  .homepage .mingcutestar-fill-2 {
    margin: 0 4.5px 1.6px 0;
    display: flex;
    width: 16.3px;
    height: 15.6px;
    box-sizing: border-box;
  }
  .homepage .container-5 {
    margin-top: 0.2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .rating-2 {
    margin: 0 1.3px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .homepage .book-container-2 {
    border-radius: 10px;
    border: 2.5px solid #B48E5E;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px 18px;
    width: 155px;
    box-sizing: border-box;
  }
  .homepage .image-48 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: url('../assets/images/image_48.png') 50% / cover no-repeat;
    margin: 0 0 13.3px 21px;
    align-self: center;
    width: 76.5px;
    height: 121.7px;
  }
  .homepage .ancika {
    margin-bottom: 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 13px;
    color: #000000;
  }
  .homepage .pidi-baiq-1 {
    margin: 0 0.2px 1px 0.2px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .container-6 {
    margin: 0 0.2px 1.8px 0.2px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .vector-5 {
    width: 16.3px;
    height: 15.6px;
  }
  .homepage .mingcutestar-fill-3 {
    margin: 0 4.5px 1.6px 0;
    display: flex;
    width: 16.3px;
    height: 15.6px;
    box-sizing: border-box;
  }
  .homepage .container-7 {
    margin-top: 0.2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .rating-3 {
    margin: 0 1.3px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .homepage .book-container-3 {
    border-radius: 10px;
    border: 2.5px solid #B48E5E;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px 18px;
    width: 155px;
    box-sizing: border-box;
  }
  .homepage .image-481 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: url('../assets/images/image_48.png') 50% / cover no-repeat;
    margin: 0 0 13.3px 21px;
    align-self: center;
    width: 76.5px;
    height: 121.7px;
  }
  .homepage .ancika-1 {
    margin-bottom: 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 13px;
    color: #000000;
  }
  .homepage .pidi-baiq-2 {
    margin: 0 0.2px 1px 0.2px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .container-8 {
    margin: 0 0.2px 1.8px 0.2px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .vector-6 {
    width: 16.3px;
    height: 15.6px;
  }
  .homepage .mingcutestar-fill-4 {
    margin: 0 4.5px 1.6px 0;
    display: flex;
    width: 16.3px;
    height: 15.6px;
    box-sizing: border-box;
  }
  .homepage .container-9 {
    margin-top: 0.2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .rating-4 {
    margin: 0 1.3px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .homepage .book-container-4 {
    border-radius: 10px;
    border: 2.5px solid #B48E5E;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px 18px;
    width: 155px;
    box-sizing: border-box;
  }
  .homepage .image-482 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: url('../assets/images/image_48.png') 50% / cover no-repeat;
    margin: 0 0 13.3px 21px;
    align-self: center;
    width: 76.5px;
    height: 121.7px;
  }
  .homepage .ancika-2 {
    margin-bottom: 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 13px;
    color: #000000;
  }
  .homepage .pidi-baiq-3 {
    margin: 0 0.2px 1px 0.2px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .container-10 {
    margin: 0 0.2px 1.8px 0.2px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .vector-7 {
    width: 16.3px;
    height: 15.6px;
  }
  .homepage .mingcutestar-fill-5 {
    margin: 0 4.5px 1.6px 0;
    display: flex;
    width: 16.3px;
    height: 15.6px;
    box-sizing: border-box;
  }
  .homepage .container-11 {
    margin-top: 0.2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 11px;
    color: #6B6B6B;
  }
  .homepage .rating-5 {
    margin: 0 1.3px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .homepage .book-container-5 {
    border-radius: 10px;
    border: 2.5px solid #B48E5E;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px 18px;
    width: 155px;
    box-sizing: border-box;
  }
  .homepage .container {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    width: fit-content;
    box-sizing: border-box;
  }
  .homepage .group-160 {
    margin: 0 112px 0 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .homepage .container-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .homepage .rectangle-102 {
    border-radius: 10px;
    background: #F3DEBA;
    margin: 2px 0 1.5px 0;
    width: 29px;
    height: 10px;
  }
  .homepage .ellipse-10 {
    border-radius: 6.8px;
    background: #BEBEBE;
    width: 13.5px;
    height: 13.5px;
  }
  .homepage .container-1 {
    background: url('../assets/images/free_vector_flat_world_book_day_social_media_cover_template_1.jpeg') 50% / cover no-repeat;
    position: absolute;
    left: 101px;
    top: 155px;
    right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 243px 0 19.5px 0;
    box-sizing: border-box;
  }
  .homepage {
    border-radius: 50px;
    background: #FFFFFF;
    display: flex;
    padding-bottom: 72px;
    width: 1280px;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  *, html {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: #B48E5E;
  }
  
  body{
      font-family: "Poppins" , sans-serif;
      color: #B48E5E;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: hidden;
  }
  
  nav{
      width: 100%;
      box-shadow: 0 2px 5px 0 #B48E5E60;
      padding: 15px 30px;
  }
  
  nav .menu{
      font-size: 40px;
  }
  
  main {
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      height: 100%;
  }
  
  main .profile{
      margin: 45px;
      position: relative;
      height: 220px;
      width: 220px;
      border-radius: 50%;
      cursor: pointer;
  }
  
  main .profile img{
      width: 220px;
      height: 220px;
  }
  
  main .profile .edit{
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 28px;
  }
  
  main div{
      position: relative;
      width: max-content;
      height: max-content;
  }
  
  
  main div input{
      width: 420px;
      height: 45px;
      border-radius: 5px;
      outline: none;
      border: 1.8px solid #B48E5E;
      margin-bottom: 25px;
      padding: 0 10px;
      color: #B48E5E;
      background-color: transparent;
  }
  
  main div label{
      position: absolute;
      left: 0;
      top: -8px;
      margin: 0 0 0 10px;
      background-color: white;
      font-size: 12px;
      padding-right: 5px;
  }
  
  main div .icon{
      position: absolute;
      left: 10px;
      bottom: 50%;
  }
  
  main div .passwordIcon{
      position: relative;
      display: flex !important;
      align-items: center;
      bottom: 50%;
      width: 100%;
      height: max-content;
      z-index: 99;
      cursor: pointer;
  }
  
  main div .passwordIcon span{
      position: absolute;
      right: 10px;
      bottom: 100%;
  }
  
  nav aside{
      left: 0;
      top: 0;
      height: 100%;
      background-color: white;
      box-shadow: 2px 0 5px 0 #B48E5E60;
      display: flex;
      flex-direction: column;
      transform: translate(-100%);
      transition: 0.1s ease-in-out;
  }
  
  #toggleButton{
      cursor: pointer;
  }
  
  nav aside menu div{
      display: flex;
      gap: 1.5em;
      /* border: 1px solid #B48E5E50; */
      padding: 10px;
      border-radius: 10px;
      font-weight: 600;
      letter-spacing: 1px;
      align-items: center;
      cursor: pointer;
  }
  
  nav aside menu div .icon{
      font-size: 30px;
  }
  
  nav aside menu{
      padding: 10px 30px;
      display: flex;
      gap: 1.5em;
      flex-direction: column;
  }
  
  nav aside .menu{
      padding: 15px 40px;
      width: 100%;
      margin: 0 !important;
      box-shadow: 0 2px 5px 0 #B48E5E60;
  }
  
  nav aside menu div:hover{
      outline: 2px solid #B48E5E50;
  }
  
  main div .hide-icon{
      display: none;
  }
  
  #off{
      display: none;
  }
  
  